*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{

    background-color: rgb(13, 69, 38);

}
.Container{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.portfolio h1{

    font-size: 3rem;
    color: white;
    text-align: center;
}

.portfolio p{

    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
}

.portfolio{

    width: 35%;
}




/** Gallery**/


.gallery{

    width: 50%;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:120px ;
}

.box{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: #222;
    background-blend-mode:hard-light;



}

.box:hover{

    background-color: #999;
    transition: all 1s ease-in-out;
    background-position: center;

}

.row-2{

    grid-row: span 2;
}

.col-2{

    grid-column: span 2;
}


@media screen and (max-width:1024px){
    .Container{

        flex-direction: column;
        padding-block: 20px;
    }

    .gallery{

        width: 100%;
        grid-auto-rows: 220px;
    }

    .portfolio{

        width: 70%;
    }

    .box{

        grid-row: span 1;
        grid-column: span 3;
    
    }


}
